.carousel-container {
    width: 100%;
    margin: 10px auto;
  }
  
  .carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel-image {
    width: 100%;
    height: 500px;
    object-fit: fill; 
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #141414);
    border-radius: 8px;
  }

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: #FA4032;
    }

 .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
      content: "prev";
      color: #FA4032;
  }

  .swiper-pagination-bullet {
    background-color: #FA4032;
    
  }

  
  /* Responsive Styles */
  @media (max-width: 570px) {
    .carousel-image {
      height: 250px; 
      object-fit: cover; 
    }
  
    .overlay {
      top: 150px; 
    }
  }
  
  @media (max-width: 400px) {
    .carousel-image {
      height: 200px; 
    }
  
    .overlay {
      top: 120px;
    }
  }
  