.trending {
  margin-top: 50px;
  color: white;

  .trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .blank_line {
      width: 80%;
      height: 1px;
      background-color: #bfbfbf;
    }
    .view {
      display: flex;
      align-items: center;
      cursor: pointer;
      .arrow {
        margin-left: 10px;
      }
    }
  }
  .fire {
    color: #fa4032;
    margin-right: 20px;
  }
  h2 {
    color: white;
  }
  .trending-movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    .movie_card {
      width: 250px;
      height: 377px;
      background-color: #1a1a1a;
      padding: 20px;
      border: 1px solid #262626;
      border-radius: 12px;
      margin-bottom: 20px;
      img {
        aspect-ratio: 3/4;
        height: 281px;
        border-radius: 12px;
      }
      .short-details {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #999999;
          font-size: 14px;
          background-color: #141414;
          width: 100%;
          height: 30px;
          margin-bottom: 5px;
          border-radius: 51px;
          border: 1px solid #262626;
        }
        .card-icon {
            margin-right: 5px;
        }
      }
    }
  }

  @media (max-width:768px) and (min-width:320px) {
    .trending-movies{
    
    justify-content: space-around;
    
    }
  }

  @media (max-width:1024px) and (min-width:320px) {
    .trending-header {
      flex-wrap: wrap; 
      gap: 10px;
    }
      h2 {
        font-size: 1.5rem;
      }

      .blank_line {
        display: none; 
      }
      .view {
        font-size: 0.9rem; 
      }
  }
}






