.trending {
  margin-top: 50px;
  color: white;

  .trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .blank_line {
      width: 80%;
      height: 1px;
      background-color: #bfbfbf;
    }
    .view {
      display: flex;
      align-items: center;
      cursor: pointer;
      .arrow {
        margin-left: 10px;
      }
    }
  }
  .fire {
    color: #fa4032;
    margin-right: 20px;
  }
  h2 {
    color: white;
  }
  .trending-movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) and (min-width: 320px) {
    .trending-movies {
      justify-content: space-around;
    }
  }

  @media (max-width: 1024px) and (min-width: 320px) {
    .trending-header {
      flex-wrap: wrap;
      gap: 10px;
    }
    h2 {
      font-size: 1.5rem;
    }

    .blank_line {
      display: none;
    }
    .view {
      font-size: 0.9rem;
    }
  }
}
