.movies_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 12px;
  justify-content: center; /* Center cards horizontally */
}
